.github/**
.tmp/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
artifacts/**
coverage/**
docs/**
node_modules/**
out/**
scripts/**
src/**
.gitignore
.gitattributes
.markdownlint-cli2.jsonc
.node-version
.nvmrc
.prettierignore
.prettierrc.json
CONTRIBUTING.md
CODE_OF_CONDUCT.md
eslint.config.mjs
esbuild.mjs
package-lock.json
tsconfig.json
tsconfig.test.json
*.map
